Требуется разработать калькулятор с возможностью расширения функциональности.

1) Работать как с целыми, так и с дробными числами
2) Необходимо реализовать функцию "сложение"
3) Необходимо реализовать функцию "вычитание"
4) Необходимо реализовать функцию "умножение"
5) Необходимо реализовать функцию "деление"
6) Проверка на тип входных данных
7) формат текста ???
8) возможность добавления новых операций на основе плагинов (поддержка плагинов)

Требования:
1) пользователь должен иметь возможность ввода арифметического выражения с использование
клавиатуры и кнопок графического интерфейса
2) после ввода пользователь может получить результат выражения нажатием кнопки Enter
либо соотвествующей кнопки графического интерфейса
3) арифметическое выражение поддерживает операции группировки, унарные и бинарные операции.
4) операции могут иметь разный приоритет.
5) имеется стандартный набор операций(сложение, вычитание, деление, умножение,
квадратный корень).
6) каждая операция проверяет корректность своих операндов
7) в случае некорректных операндов пользователь видит детальное сообщение об ошибке
8) в слачае ввода некоректного выражения пользователь имеет возможность изменения
введенного ранее выражения
9) множество поддерживаемых чисел - вещественные.
10) графический интерфейс основан на web представлении.
11) пользователь имеет возможность для расширения набора операций.
12) для определения новой операции пользователь должен указать название операции, ее
символьное представление в арифметическом выражении и реализовать бизнес-логику
добавляемой операции на основе предоставленного интерфейса
13) для добавления новой операции в калькулятор не требуется перезагрузки приложения
14) имеется возможность сохранения произведенных вычислений в архив.



****************Анализ и проектирование********************

1) Подсистемы
- 1.1 интерфейс пользователя
- 1.2 ядро вычислений
- 1.3 архив введеных выражений
- 1.4 плагин (добавление новым операций в калькулятор)

Детальное описание подсистем:

1.2)Ядро вычислений
Описание сущностей:
    1)вычислитель - основная и единственная точка входа в ядро вычислений
      действия:
        -вычислить арифметическое выражение (метод с названием)
            входные параметры:
                арифметическое выражение в виде строки
            выходные параметры:
                результат вычислений в виде вещественного числа, либо сообщение об
                ошибке

    2) арифметическое выражение - последовательность элементов арифметического выражения
    (операнды и операции над ними)
      действия:
        - получить упорядоченную последовательность элементов арифметического выражения
            входные параметры:
                нет
            выходные параметры:
                список элементов арифметического выражения

        - десериализовать строковое представление
            входные параметры:
                арифметическое варажение в формате строки
            выходные параметры:
                     либо null, либо сообщение ошибки                   //список элементов арифметического выражения

        - произвести вычисление
            входные параметры:
                нет
            выходные параметры:
                результат вычислений в виде вещественного числа, либо сообщение об ошибке

    3) элемент арифметического выражения - составляющая ариф.выражения
      действия:
        - получить символьное представление
            входные параметры:
                нет
            выходные параметры:
                строка с символьным представлением

        - является ли операндом
            входные параметры:
                нет
            выходные параметры:
                true or false
        - является ли операцией
            входные параметры:
                нет
            выходные параметры:
                true or false

    4) операнд - число над которым производится арифметическая операция (является
    элементом арифметического выражения)
        действия:
            - получить числовое значение
                входные:
                    нет
                выходные:
                    число
    5) операция - действие над операндами в арифметическом выражении (является
    элементом арифметического выражения)
        действия:
            - получить название
                    входные параметры:
                        нет
                    выходные параметры:
                        строка
            - получить приоритет операции
                входные
                    нет
                выходные:
                    число
            - является ли операция унарной
                    входные параметры:
                        нет
                    выходные параметры:
                        true or false
            - является ли операция бинарной
                    входные параметры:
                        нет
                    выходные параметры:
                        true or false
            - произвести вычисление
                    входные параметры:
                        список операндов
                    выходные параметры:
                        либо операнд, либо сообщение об ошибке

    6) группировка - выделение арифметического выражения внутри другого арифметического
     выражения с максимальным приоритетом (является элементом арифметического выражения)

    7) результат - число или сообщение об ошибке

Переменные
Операция - тип операции(*,/,+,-)
ввод информации



1. Ожидаемые символы (5+5)

    1.1 неправильный порядок (.*25+3)
    1.2
2. Неожидаемые
3. Пустая строка

******************************************************************
null
""
"a"
"+"
"."
"("
")"
" "
"1" далее проверка на число

" 1"
"1 "

"-1"
"-0"
"+0"
"+1"

".1"
"1."
"1.0"
"0.0"
"+1.1"
"-1.1"
"1.0."
"1.0.0"
"1.00"
"00"
"01"
"01.0"
"+-1"
"-+1"
"123456789"
"-123456789"
"123456789.123456789"
"-123456789.123456789"

операции

1*1
0*
1*

*1


"+1-"
******************************************************************

